.navbar {
    height: 50px;
    border-bottom: 0.5px solid lightgrey;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: grey;

    .wrapper {
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgrey;
            padding: 5px;

            input {
                border: none;
                outline: none;
                background: transparent;
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .icon {
                    font-size: 20px;
                    color: blue;
                }

                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }
    }
}